/* Offer section styling */
.offer-section {
    display: flex;
    align-items: normal;
    justify-content: center;
    gap: 30px;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
}

/* Image container styling */
.image-container {
    flex: 1;
    display: flex;
    max-width: 100%;
}

.image-container img {
    width: 100%;
    border-radius: 4px;
}

/* Offer details styling */
.offer-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.offer-details > * {
    margin: 0px;
}

.special-offer {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
}

.discount {
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    padding: 0 5px;
    border-radius: 4px;
}

/* Countdown timer styling */
.countdown {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(var(--color-button));
}

.time {
    padding: 10px 20px;
    background-color: rgb(var(--color-button-text));
    border-radius: 4px;
}

.separator {
    font-size: 28px;
    color: rgb(var(--color-button));
}

/* Call to action button styling */
.btn{
    box-shadow: 0 4px 9px rgba(0,0,0,.05);
    cursor: pointer;
    padding: 2% 5%;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block
}
.btn-primary{
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    transition: .2s all linear;
}
.btn-primary:hover{
    color: rgb(var(--color-button));
    background-color: rgb(var(--color-button-text));

}

/* Responsive Mobile */

@media only screen and (max-width: 767px) {
    .offer-section {
        display: block
    }
    /* Countdown timer styling */
    .countdown {
        gap: 5px;
    }
    .offer-details {
        align-items: center;
        padding: 20px 0px;
    }
    
  }