/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Slider container */
.slider {
    position: relative;
    overflow: hidden;
}

/* Slides */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 1s ease;
    position: relative;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-width: 100%;
    display: block;
    border-bottom: 2px solid #ddd;
}

/* Navigation arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:transparent;
    color: #FFF;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

/* Dots navigation */
.dots {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}
.banner_text{
    position: absolute;
    left: 0;
    top:50%;
    transform: translate(-50%, -50%);
}
.content {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
}
.content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}
.content p {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #555;
}
.content button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;

    
 /* Media queries for responsiveness */
 @media (max-width: 768px) {
    .content h1 {
        font-size: 2em;
    }
    .content p {
        font-size: 1em;
    }
    .content button {
        font-size: 0.9em;
    }
}
@media (max-width: 480px) {
    .content {
        left: 5%;
        width: 90%;
    }
    .content h1 {
        font-size: 1.5em;
    }
    .content p {
        font-size: 0.9em;
    }
    .content button {
        font-size: 0.8em;
        padding: 8px 16px;
    }
}