
.d-inline{
    display: inline;
}
.d-inline-block{
    display: inline-block;
}

/* Button Css */

.btn{
    box-shadow: 0 4px 9px rgba(0,0,0,.05);
    cursor: pointer;
    padding: 2% 5%;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid rgb(var(--color-button));
    font-weight: 600;
}
.btn-primary{
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    transition: .2s all linear;
}
.btn-primary:hover{
    color: rgb(var(--color-button));
    background-color: rgb(var(--color-button-text));

}
.collection .card--standard > .card__content .card__information, .collection .card-information{
    text-align: center;
}
.collection .card-information{
    font-weight: 600;
}
.title-wrapper--no-top-margin > .title{
    text-align: center;
    font-weight: 600;
}
/* Language Selector */
.disclosure__list-wrapper{
	bottom: -112px !important;
}
.localization-form:only-child {
    margin: 0;
  }
.localization-form__select::after, .localization-form__select::before, form__select:hover.localization-form__select::after, .localization-form__select:hover.localization-form__select::after, .localization-form__select::before{
 box-shadow: none;
}
/* Responsive Mobile */

@media only screen and (max-width: 767px) {
.footer-block__image-wrapper {
    margin:0 auto;
    margin-bottom: 2rem;    
  }
}