
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
.d-inline{
    display: inline;
}
.d-inline-block{
    display: inline-block;
}
.star-20 svg{
    width: 20px;
    height: 20px;
}
.d-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.p-relative{
    position: relative;
}

/* Button Css */

.btn{
    box-shadow: 0 4px 9px rgba(0,0,0,.05);
    cursor: pointer;
    padding: 2% 5%;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid rgb(var(--color-button));
    font-weight: 600;
}
.btn-primary{
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    transition: .2s all linear;
}
.btn-primary:hover{
    color: rgb(var(--color-button));
    background-color: rgb(var(--color-button-text));

}
.collection .card--standard > .card__content .card__information, .collection .card-information{
    text-align: center;
}
.collection .card-information{
    font-weight: 600;
}
.title-wrapper--no-top-margin > .title{
    text-align: center;
    font-weight: 600;
}
/* Language Selector */
.header-localization:not(.menu-drawer__localization) .localization-form__select .icon-caret {
    right: 0 !important;
  }

/* Menu Drawrer */

.menu-drawer__menu .icon{
    position: absolute;
    top: 0%;
    right: 3%;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    width: 30px;
  }
  .menu-drawer__close-button .icon{
    transform: rotate(90deg);
    top: 2.4%;
  }


/* Responsive Mobile */

@media only screen and (max-width: 767px) {
.footer-block__image-wrapper {
    margin:0 auto;
    margin-bottom: 2rem;    
  }
  .d-md-block{
    display: block
  }
  /* Mobile Menu */
  .menu-drawer__account {
    padding: 1rem 20px !important;
    color: #FFF!important;
  }
  .videoBackground .videoBoxInfoTitle, .videoBackground .imageBoxInfoTitle {
	font-size: 35px;
}
  

}