#testimonial .arrow_section{
    width: calc(33.33%);
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
 #testimonial .slide_section{
    width: calc(66.67%);
}
