/* Two column Gallary CSS */

.box{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
}

.image{
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}
.image img{
    height: auto;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
    transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
}
.text{
    padding: 10px 30px 100px;
}
.text > *{
    font-weight: 600;
    line-height: 1.3;
}

.item{
    width: 47%;
    position: relative;
    overflow: hidden;
    transition: opacity .4s cubic-bezier(.25,.46,.45,.94);    
}
.item:hover img{
    transform: scale(1.1);
    transition: opacity .4s cubic-bezier(.25,.46,.45,.94); 
}
.item .text h2{
    font-size: 34px;
    width: 60%;
}
.btn{
    box-shadow: 0 4px 9px rgba(0,0,0,.05);
    cursor: pointer;
    padding: 2% 5%;
    border-radius: 4px;
    text-decoration: none;
}
.btn-primary{
    background-color: wheat;
    color: black;
    transition: .2s all linear;
}
.btn-primary:hover{
    background-color: black;
    color: wheat;

}