/* Two column Gallary CSS */

#two-column-gallary .box{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    gap: 40px;
}

.image{
    display: block;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    transition: 0.5s all ease-in-out; 
}
.image img{
    height: inherit;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
    transition: 0.5s all ease-in-out; 
}
.overlay::after{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: .1;
}
/* .overlay-hover::after{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    z-index: 99;
}
.item:hover .overlay-hover::after{
    opacity: .1;
} */
.overlay-hover::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    content: "";
    -webkit-transition: all .6s;
    transition: all .6s;
    z-index: 2;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-150%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-150%,0);
}
.item:hover .overlay-hover::before{
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,150%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,150%,0);
    opacity: 1;
}


#two-column-gallary .text{
    padding: 10px 30px 100px;
}
#two-column-gallary .text > *{
    font-weight: 600;
    line-height: 1.3;
}
#two-column-gallary .text > *:not(.btn){
    color: rgb(var(--color-foreground));
}

#two-column-gallary .item{
    width: calc(50% - 20px);
    position: relative;
    overflow: hidden;
    transition: 0.5s all ease-in-out; 
    height: 400px; 
}
#two-column-gallary .item:hover .image{
    transform: scale(1.3);
    transition: 0.5s all ease-in-out; 
}
#two-column-gallary .item .text h2{
    font-size: 34px;
    width: 60%;
}
.btn{
    box-shadow: 0 4px 9px rgba(0,0,0,.05);
    cursor: pointer;
    padding: 2% 5%;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid rgb(var(--color-button));
    font-weight: 600;
}
.btn-primary{
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    transition: .2s all linear;
}
.btn-primary:hover{
    color: rgb(var(--color-button));
    background-color: rgb(var(--color-button-text));

}


/* Responsive Mobile */

@media only screen and (max-width: 767px) {
    #two-column-gallary .item{
        width: 100%;
        height: 330px;
    }
  }