/* Two column Gallary CSS */

.box{
    height: 500px;
    border: 2px solid #000;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
}
.item{
    width: 47%;
    height: 500px;
    
}
.item1{
    background-color: rgb(67, 83, 96);
}
.item2{
    background-color: rgb(49, 159, 55);
}