.single_selector {
    padding: 10px;
    cursor: pointer;
    max-width: fit-content;
    font-size: 16px;
    min-width: 100px;
    border: none;
    border-radius: 4px;
}

.form__label {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.select-wrap {
    border: 1px solid;
    width: fit-content;
    padding-right: 6px;
    border-radius: 4px;
}

/* option button  */

.product_option {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.product-option-radio,
.product-option-select {
    margin-bottom: 15px;
}

.option-item {
    position: relative;
}

.option-item label {
    border: 2px solid #a4a4a4;
    height: 40px;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: fit-content;
    border-radius: 4px;
}

.option-item input {
    position: absolute;
    left: 0;
    opacity: 0;
}

.option-item input:checked + label {
    border-color: #000;
}